#map-canvas {
	height: 600px;
	width: 1095px;
}

@font-face {
	font-family: Raleway-ExtraLight;
	src: url(../fonts/Raleway-ExtraLight.ttf);
}

body {
	padding: 0;
	margin: 0;
}

.body-bg {
	background-color:#ECECEC;
	/*background-image: url("http://scienceblogs.com/startswithabang/files/2011/04/042HUDFmuchlater-600x456.jpg");*/
	background-attachment: fixed;
}

.back-video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}



.title-box {
	display: block;
	height: 100%;
	padding-left: 25px;
	padding-right: 25px;
}



.radio-but span {
	margin-right: 25px;
}

.radio-but {
	width: 200px;
}

.fade {
	opacity: 0.1;
	transition: opacity .120s ease-in-out;
	-moz-transition: opacity .120s ease-in-out;
	-webkit-transition: opacity .120s ease-in-out;
}

.fade-out {
	opacity: 1;
	transition: opacity .120s ease-in-out;
	-moz-transition: opacity .120s ease-in-out;
	-webkit-transition: opacity .120s ease-in-out;
}

/*------------------CHAT-------------------*/
/*--------------header-------------*/
header {
	height: 49px;
	background-color: #1C2F3D;
	padding: 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.site-nav>.active>a, .active {
	color: #00B2E2;
}

header>span {
	display: inline-block;
	vertical-align: middle;
}

.magneto-logo img {
	height: 50px;
}

.site-nav>li.active a {
	background: #3a526a;
	color: #fff;
}

.site-nav>li:hover  a {
	background: #354B60;
}

.site-nav>li  a {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #bdc3c7;
	text-decoration: none;
	display: inline-block;
	padding: 10px 12px;
	border-radius: 5px;
	font-weight: 600;
	line-height: 20px;
	-webkit-transition: background 50ms linear, color 50ms linear;
	transition: background 50ms linear, color 50ms linear;
}

/* .site-nav > li > a {
    color: #fff;
    padding: 5px;
    text-decoration: none;
}  */

/*------------header end-----------*/
.main-content {
	margin-top: 70px;
	background-color: #F6F6F8;
}
/*---------------map---------------*/
.result-area-header {
	height: 50px;
	background-color: #101111;
	padding: 10px;
}

.action-botton {
	background-color: #1faece;
	border:1px solid #1faece;
	color: #fff;
	padding: 8px 14px;
}

.action-botton:hover{
	background-color: #35C1E1;
}

.result-area-header-numbers>span {
	display: inline-block;
}

.mg-display-inline>* {
	display: inline-block;
}

.search-result-area, .search-area {
	display: inline-block;
	vertical-align: top;
	padding: 0px;
}

.search-area {
	padding: 10px;
}

/*-------------map end-------------*/
.friend-list {
	position: fixed;
	bottom: 0px;
	right: -15px;
	min-width: 260px;
}

.list-header {
	padding-left: 15px;
	padding-top: 15px;
	display: block;
	background: #12cbc6;
	height: 40px;
	width: 100%;
}

.list-content {
	height: 670px;
	padding-left: 15px;
	padding-top: 15px;
	display: block;
	background: rgba(0, 5, 6, 0.7);
	overflow-y: scroll;
	width: 100%;
}

.list-footer {
	display: block;
	width: 100%;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	background: rgba(18, 167, 206, 0.4);
	color: #fff;
	border: 0;
	height: 20px;
}

.user-div {
	height: 45px;
	padding: 5px;
}

.user-div span {
	display: inline-block;
	color: #fff;
	vertical-align: middle;
}

.mg-panel {
	padding: 10px;
}

.messenger-panel-header, .messenger-panel-sec-header {
	height: 50px;
	max-width: 250px;
}

.user-name {
	margin-left: 15px;
}

.user-img-on {
	height: 38px;
	width: 38px;
	border-radius: 50%;
	border: 2px solid #12cbc6;
	display: block;
}

.user-img-off {
	height: 38px;
	width: 38px;
	border-radius: 50%;
	border: 2px solid #ff4d4d;
	display: block;
}

.user-img>img {
	border-radius: 50%;
	height: 35px;
	width: 35px;
}

.table {
	display: table;
	border-collapse: separate;
	border-spacing: 10px;
}

.row {
	display: table-row;
	height: 200px;
}

.cell {
	display: table-cell;
	padding-left: 5px;
	background-color: gold;
}

@
-webkit-keyframes yellow-fade { 0% {
	background: aquamarine;
}

100%
{
background


:

 

gold


;
}
}
@
keyframes yellow-fade { 0% {
	background: aquamarine;
}

100%
{
background


:

 

gold


;
}
}
.highlight {
	-webkit-animation: yellow-fade 2s ease-in 1;
	animation: yellow-fade 2s ease-in 1;
}

@
-webkit-keyframes message-fade-mine { 0% {
	background: cornflowerblue;
}

100%
{
background


:

 

darkslateblue


;
}
}
@
keyframes message-fade-mine { 0% {
	background: cornflowerblue;
}

100%
{
background


:

 

darkslateblue


;
}
}
.message-highlight-mine {
	-webkit-animation: message-fade-mine 2s ease-in 1;
	animation: message-fade-mine 2s ease-in 1;
}

@
-webkit-keyframes message-fade-not-mine { 0% {
	background: green;
}

100%
{
background


:

 

goldenrod


;
}
}
@
keyframes message-fade-not-mine { 0% {
	background: green;
}

100%
{
background


:

 

goldenrod


;
}
}
.message-highlight-not-mine {
	-webkit-animation: message-fade-not-mine 2s ease-in 1;
	animation: message-fade-not-mine 2s ease-in 1;
}

/*messenger*/
.is-my-message {
	background-color: #DC4E41;
}

.is-not-my-message {
	background-color: darkgreen;
}

/*.p{*/
/*color: midnightblue;*/
/*}*/
.messenger-panel {
	right: 0;
	top: 70px;
	position: fixed;
	background-color: slategray
}

.background-dark {
	background-color: #082028;
}

@font-face {
	font-family: Raleway-ExtraLight;
	src: url(../fonts/Raleway-ExtraLight.ttf);
}

body {
	padding: 0;
	margin: 0;
	min-height: 100%;
}

.body-bg {
	/*  background-image: url(../images/bg.jpg); */
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.back-video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}

.mg-container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}



.login-form h1, .register-form h1 {
	text-align: center;
	margin: 30px 0;
	font-size: 28px;
}

.login-form input[type="email"], .login-form input[type="password"],
	.register-form input[type="text"], .register-form select {
	border: 1px solid #bdc3c7;
border-radius: 4px;
box-sizing: border-box;
display: block;
font-size: 15px;
line-height: normal;
margin: 0;
min-width: 100%;
max-width: 100%;
padding: 10px;
width: 100%;
}
.login-form .register{
	display: block;
	margin: 11px;
	color: #1faece;
}
.float-right{
	float: right;
}
.login-form .field{
    padding-bottom: 15px;
    position: relative;
}
}

.login-form input[type="text"]:focus, .register-form input[type="text"]:focus,
	.register-form select:focus {
	
}






.title-box {
	display: block;
	height: 100%;
	padding-left: 25px;
	padding-right: 25px;
}

.title-box>p {
	font-family: "Raleway-ExtraLight";
	font-size: 38px;
	color: #75b9e7;
	text-align: justify;
	text-shadow: 1px 1px 2px black, 0 0 1em #558196;
	margin-top: 30px;
}

.radio-but span {
	margin-right: 25px;
}

.radio-but {
	width: 200px;
}

.fade {
	opacity: 0.1;
	transition: opacity .120s ease-in-out;
	-moz-transition: opacity .120s ease-in-out;
	-webkit-transition: opacity .120s ease-in-out;
}

.fade-out {
	opacity: 1;
	transition: opacity .120s ease-in-out;
	-moz-transition: opacity .120s ease-in-out;
	-webkit-transition: opacity .120s ease-in-out;
}

/*------------------CHAT-------------------*/
/*--------------header-------------*/
.navbar {
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-brand {
	padding-top: 1px;
	padding-left: 0;
}

.navbar-collapse>ul>li>a {
	line-height: 28px;
}

.navbar-brand img {
	height: 60px;
	padding-right: 20px;
	padding-bottom: 0px;
	background-color: #1A556E;
}

.navbar-default {
	background-color: #1C2F3D;
	border: none;
	background-image: none;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
	{
	border-bottom: 4px solid #35D9CB;
	color: #fff;
}

.navbar-default .navbar-toggle {
	border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
	{
	background-color: #42002f;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

/*------------header end-----------*/
/*---------------map---------------*/
.map-container {
	margin-top: 50px;
}

.map-area {
	background-color: #101111;
	height: 715px;
	padding-left: 0;
	padding-right: 0;
	padding-left: 2px;
}

.map-change-button {
	padding-left: 0;
}

.search-acordion {
	background-color: #1C2F3D;
	height: 715px;
	padding: 0px;
}

.search-acordion-body {
	background-color: #082028;
	padding: 15px 15px 0 15px;
}

.user-search .form-group {
	
}

.map-change {
	cursor: pointer;
	padding: 18px 20px;
}

.map-change a {
	padding: 15px;
}

.map-change:hover {
	color: #fff;
	text-decoration: none;
}

.map-change:active {
	position: relative;
	top: 1px;
}

/*----------search detail----------*/
.search-form {
	width: 100%;
}

.mg-chat-body {
	background-color: rgb(28, 47, 61);
}

.is-my-message {
	background-color: #fff;
	padding: 5px;
	border-radius: 10%;
	margin-bottom: 5px;
	display: block;
}

.is-my-message>span>p {
	font-size: 12px;
}

.map-search, .message-sendarea>input {
	width: 75%;
	height: 15px;
	margin-right: 5px;
	background-color: rgba(196, 196, 196, 0.2);
	padding: 10px;
	color: #00B2E2;
	font-size: 12px;
	border: none;
	border-radius: 15px;
}

.select-area {
	width: 100%;
	height: 35px;
}

.search-acordion .ac-container .text-area {
	width: 100%;
	height: 35px;
	display: block;
	margin-top: 0px;
}

.ac-container {
	margin-top: 20px;
}

.ac-container>div {
	
}

.ac-container label {
	color: #fff;
	margin-bottom: 0;
	text-transform: uppercase;
	margin-top: 10px;
	font-size: 13px;
}

.ac-container i {
	margin-top: 10px;
}

.ac-container label:hover:after, .ac-container input:checked+label:hover:after
	{
	content: '';
	position: absolute;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_down.png) no-repeat center
		center;
}

.ac-container input:checked+label:hover:after {
	background-image: url(../images/arrow_up.png);
}

.ac-container input {
	display: none;
}

.ac-container article {
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
}

.ac-container input:checked ~ article.ac-small {
	height: auto;
}

.messenger-panel-sec-header>span {
	display: inline-block;
	padding: 10px;
}

.ac-container input:checked ~ article.ac-medium {
	height: auto;
}

.mg-right {
	float: right;
}

.mg-left {
	float: left;
}

i {
	color: silver;
}

.number {
	color: #00B2E2;
	margin: 0;
	font-size: 20px;
}

.user-count {
	color: #00B2E2;
	margin: 0;
	font-size: 10px;
}

.ac-container input:checked ~ article.ac-large {
	height: auto;
}

.block-line {
	margin: 0;
	border: 0;
	border-top: 1px solid #00B2E2;
}

.search-acord {
	height: auto;
	margin-top: 15px;
	margin-bottom: 5px;
}

.ac-container article {
	margin-top: 5px;
}

.ac-small ul {
	padding-left: 0;
}

.ac-small ul li {
	color: #fff;
	display: block;
	position: relative;
	float: left;
	width: 100%;
}

.ac-small ul li input[type=radio] {
	position: absolute;
	visibility: hidden;
}

.ac-small ul li label {
	display: block;
	position: relative;
	padding: 0px 0px 0px 30px;
	margin: 0px auto;
	height: 25px;
	z-index: 9;
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
}

.ac-small ul li .check {
	display: block;
	position: absolute;
	border: 1px solid #fff;
	border-radius: 100%;
	height: 15px;
	width: 15px;
	top: 3.5px;
	z-index: 5;
}

.ac-small ul li .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 7px;
	width: 7px;
	top: 2px;
	left: 2px;
	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.ac-small input[type=radio]:checked ~ .check {
	border: 2px solid #35D9CB;
}

.ac-small input[type=radio]:checked ~ .check::before {
	background: #35D9CB;
}

.ac-small input[type=radio]:checked ~ label {
	color: #35D9CB;
}

.ac-small .signature {
	position: fixed;
	margin: auto;
	bottom: 0;
	top: auto;
	width: 100%;
}

.ac-small .signature p {
	text-align: center;
	color: #fff;
}

.ac-small .signature .much-heart {
	display: inline-block;
	position: relative;
	margin: 0 4px;
	height: 10px;
	width: 10px;
	background: #AC1D3F;
	border-radius: 4px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.ac-small .signature .much-heart::before, .ac-small .signature .much-heart::after
	{
	display: block;
	content: '';
	position: absolute;
	margin: auto;
	height: 10px;
	width: 10px;
	border-radius: 5px;
	background: #AC1D3F;
	top: -4px;
}

.ac-small .signature .much-heart::after {
	bottom: 0;
	top: auto;
	left: -4px;
}

.ac-small .signature a {
	color: #fff;
	text-decoration: none;
}

/*-------search detail end---------*/
/*-------------map end-------------*/
/*------------map-list-------------*/
#map-list {
	border-top: 1px solid #00B2E2;
	padding: 10px;
	overflow-y: scroll;
	height: 680px;
}

#map-list .user-div-list p {
	color: #fff;
	margin: 0;
}

#map-list .user-div-list p.map-user-name {
	margin-bottom: 10px;
	margin-left: 15px;
}

.user-other-images {
	margin-left: 15px;
}

#map-list .user-div-list p.user-age {
	color: #fff;
	font-size: 8px;
	margin-bottom: 7px;
	margin-left: 15px;
}

#map-list .user-div-list p.user-location {
	color: #fff;
	font-size: 10px;
	margin-bottom: 7px;
	margin-left: 15px;
}

#map-list .user-div-list div {
	display: inline-block;
}

.search-list-user {
	border-bottom: 1px solid #00B2E2;
	height: 120px;
	margin-top: 10px;
}

.add-magnit {
	border: 1px solid white;
	width: 160px;
	padding: 5px;
	color: #fff;
}

.magnit-image, .magnit-text {
	padding: 5px;
}

/*----------map-list end-----------*/
.friend-list {
	
}

.list-header {
	padding-left: 15px;
	padding-top: 15px;
	display: block;
	background: #12cbc6;
	height: 40px;
	width: 100%;
}

.list-content {
	height: 670px;
	padding-left: 15px;
	padding-top: 15px;
	display: block;
	background: rgba(0, 5, 6, 0.7);
	overflow-y: scroll;
	width: 100%;
}

.chat-list-search {
	width: 100%;
	background-color: rgba(18, 167, 206, 0.4);
	color: #fff;
	border: 1px solid rgba(18, 167, 206, 0.4);
}

.list-footer {
	display: block;
	width: 100%;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: rgba(18, 167, 206, 0.4);
	color: #fff;
	border: 0;
	height: 45px;
}

.user-div {
	height: 45px;
}

.user-div span {
	display: inline-block;
	color: #fff;
	vertical-align: middle;
}

.user-name {
	margin-left: 15px;
}

.user-img-on {
	height: 38px;
	width: 38px;
	border-radius: 50%;
	border: 2px solid #12cbc6;
	display: block;
}

.user-img-off {
	height: 38px;
	width: 38px;
	border-radius: 50%;
	border: 2px solid #ff4d4d;
	display: block;
}

#map-list .user-image {
	width: 100px;
	vertical-align: top;
}

#map-list .map-user-info {
	height: 100px;
}

.user-img>img {
	border-radius: 50%;
	height: 35px;
	width: 35px;
}

/*-----------------Footer---------------*/
.all-content {
	height: 100%;
	width: 100%;
	display: inline-block;
}

#footer {
	bottom: 0;
	width: 100%;
	background: #1C2F3D;
}

/*---------------Footer end-------------*/