<div>

	<div class="search-area background-dark">
		<div>
			<input class="map-search" placeholder="Search..." type="text">
			<i class="fa fa-search"></i>
		</div>
		<div>
			<mg-accordion opened="isSexFilterOpened"> <mg-accordion-head>
			<div class="accordion-header">
				<i class="fa fa-arrow-right" ng-click="collapseSexFilter()">heade</i>
			</div>
			</mg-accordion-head> <mg-accordion-body> <label><input
				type="checkbox" value="male"> Male</label> <label><input
				type="checkbox" value="female"> Female</label> </mg-accordion-body> </mg-accordion>
			<mg-accordion opened="true"> <mg-accordion-head>
			<div class="accordion-header">
				<i class="fa fa-arrow-right" ng-click="collapseSexFilter()">heade</i>
			</div>
			</mg-accordion-head> <mg-accordion-body> <label><input
				type="checkbox" value="male"> Male</label> <label><input
				type="checkbox" value="female"> Female</label> </mg-accordion-body> </mg-accordion>


		</div>
		<div ng-show="infoUser" style="background: wheat;">
			<p>{{infoUser.id}}</p>
			<span style="cursor: pointer;">{{infoUser.name}}</span> <span>{{infoUser.sex}}</span>
			<input type="button"
				ng-click="openMessageWindowForInfoUser(infoUser)"
				value="send Message" />
		</div>
	</div>

	<div class="search-result-area">
		<div class="result-area-header">
			<span class="mg-left"> <i class="fa fa-globe fa-2x"
				ng-click="setActiveViewMap()" ng-class="{'active':isMapView}"></i> <i
				class="fa fa-list fa-2x" ng-click="setActiveViewList()"
				ng-class="{'active':!isMapView}"></i>
			</span> <span class="mg-right mg-display-inline"> <span>
					<p class="number">232</p>
					<p class="user-count">contact</p>
			</span> <span>
					<p class="number">232</p>
					<p class="user-count">online</p>
			</span>
			</span>

		</div>
		<hr class="block-line ">
		<div></div>
		<div class="map-section" ng-show="isMapView">
			<mo-map location-current="location" markers="markers"
				zoom="mapZoomLevel" id="map-canvas"></mo-map>
		</div>
		<div class="container" ng-hide="isMapView">
			<div class="row user-search-result-item"
				ng-repeat="user in nearbyUserList">
				<div class="col-md-4">
					<img alt="" src="../resources/images/profile-icon-64.png">
				</div>
				<div class="col-md-4">
					<span style="cursor: pointer;" ng-click="showUserInfoWindow(user)">{{user.name}}</span>
					<span>{{user.sex}}</span>
				</div>
				<div class="col-md-2">
					<input type="button" ng-click="openMessageWindowForInfoUser(user)"
						value="Write" /> <a ui-sref="guestDetail({userId:user.id})">Detail</a>
				</div>
			</div>

			<!-- http://www.freeiconspng.com/free-images/profile-icon-png-899 -->


		</div>
	</div>

</div>