<!--<p>Email:{{user.email}}</p>-->
<!--<p>Name:</p>-->

<!--<div><input type="button" ng-click="openMessageDialog(user)" value="Message Dialog"></div>-->


<div class="user-div" ng-click="openMessageDialog(user)">
    <span class="user-img user-img-on">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAKJAAAAJGVmOGQwMmZhLTc0ZWEtNDVkNS04YTc1LTEwMDhiY2JlZWRkOA.jpg">
    </span>
    <span ng-hide="minimized" class="user-name"><p>{{user.name}}</p></span>
</div>
<hr class="block-line">